In [13]:
import pandas as pd

In [24]:
# Import census data
census_df = pd.read_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/preprocessed_interpolated_census_data.csv')
census_df.head()

,constituency_name,constituency_id,year,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,Home_owners,Private_renters,Social_renters,Asian,Black,Mixed,Other,White
0,Aberavon,W07000049,2010,0.1068,0.1242,0.1227,0.1246,0.1446,0.1311,0.1149,0.0778,0.0528,0.686902,0.109669,0.203430,0.011438,0.002786,0.006774,0.001085,0.977918
1,Aberavon,W07000049,2011,0.1082,0.1203,0.1227,0.1256,0.1413,0.1334,0.1168,0.0786,0.0528,0.683026,0.113468,0.203506,0.012505,0.002964,0.007334,0.001331,0.975867
2,Aberavon,W07000049,2012,0.1096,0.1164,0.1227,0.1266,0.1380,0.1357,0.1187,0.0794,0.0528,0.679151,0.117268,0.203581,0.013573,0.003142,0.007893,0.001577,0.973816
3,Aberavon,W07000049,2013,0.1110,0.1125,0.1227,0.1276,0.1347,0.1380,0.1206,0.0802,0.0528,0.675276,0.121067,0.203657,0.014640,0.003320,0.008453,0.001823,0.971764
4,Aberavon,W07000049,2014,0.1121,0.1105,0.1242,0.1273,0.1310,0.1403,0.1210,0.0809,0.0528,0.671401,0.124867,0.203733,0.015708,0.003497,0.009013,0.002069,0.969713

In [29]:
# Import eelction/pollig data
election_polling_df = pd.read_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/preprocessed_election_polling.csv')
election_polling_df.info()
election_polling_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3237 entries, 0 to 3236
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               3237 non-null   int64
 1   constituency_id    3237 non-null   object
 2   constituency_name  3237 non-null   object
 3   country/region     3237 non-null   object
 4   total_votes        2587 non-null   float64
 5   con_votes          2587 non-null   float64
 6   lab_votes          2587 non-null   float64
 7   lib_votes          2587 non-null   float64
 8   oth_votes          2587 non-null   float64
 9   con_share          2587 non-null   float64
 10  lab_share          2587 non-null   float64
 11  lib_share          2587 non-null   float64
 12  oth_share          2587 non-null   float64
 13  con_share_prev     3237 non-null   float64
 14  lab_share_prev     3237 non-null   float64
 15  lib_share_prev     3237 non-null   float64
 16  oth_share_prev     3237 non-null   float64
 17  mean_con_share_ge  3237 non-null   float64
 18  mean_lab_share_ge  3237 non-null   float64
 19  mean_lib_share_ge  3237 non-null   float64
 20  mean_oth_share_ge  3237 non-null   float64
 21  con_pre_ge_poll    2587 non-null   float64
 22  lab_pre_ge_poll    2587 non-null   float64
 23  lib_pre_ge_poll    2587 non-null   float64
 24  oth_pre_ge_poll    2587 non-null   float64
dtypes: float64(21), int64(1), object(3)
memory usage: 632.4+ KB

,year,constituency_id,constituency_name,country/region,total_votes,con_votes,lab_votes,lib_votes,oth_votes,con_share,...,lib_share_prev,oth_share_prev,mean_con_share_ge,mean_lab_share_ge,mean_lib_share_ge,mean_oth_share_ge,con_pre_ge_poll,lab_pre_ge_poll,lib_pre_ge_poll,oth_pre_ge_poll
0,2010,W07000049,Aberavon,Wales,30958.0,4411.0,16073.0,5034.0,5440.0,0.142,...,0.138,0.160,0.307918,0.365126,0.215917,0.110826,0.358,0.281,0.27,0.091
1,2010,W07000058,Aberconwy,Wales,29966.0,10734.0,7336.0,5786.0,6110.0,0.358,...,0.200,0.150,0.307918,0.365126,0.215917,0.110826,0.358,0.281,0.27,0.091
2,2010,S14000001,Aberdeen North,Scotland,37701.0,4666.0,16746.0,7001.0,9288.0,0.124,...,0.239,0.242,0.307918,0.365126,0.215917,0.110826,0.358,0.281,0.27,0.091
3,2010,S14000002,Aberdeen South,Scotland,43034.0,8914.0,15722.0,12216.0,6182.0,0.207,...,0.335,0.127,0.307918,0.365126,0.215917,0.110826,0.358,0.281,0.27,0.091
4,2010,S14000003,Airdrie & Shotts,Scotland,35849.0,3133.0,20849.0,2898.0,8969.0,0.087,...,0.114,0.196,0.307918,0.365126,0.215917,0.110826,0.358,0.281,0.27,0.091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,2024,E14001059,Wythenshawe & Sale East,North West,NaN,NaN,NaN,NaN,NaN,NaN,...,0.070,0.097,0.427471,0.328280,0.108432,0.135811,NaN,NaN,NaN,NaN
3233,2024,E14001060,Yeovil,South West,NaN,NaN,NaN,NaN,NaN,NaN,...,0.311,0.042,0.427471,0.328280,0.108432,0.135811,NaN,NaN,NaN,NaN
3234,2024,W07000041,Ynys Mon,Wales,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.345,0.427471,0.328280,0.108432,0.135811,NaN,NaN,NaN,NaN
3235,2024,E14001061,York Central,Yorkshire and The Humber,NaN,NaN,NaN,NaN,NaN,NaN,...,0.084,0.086,0.427471,0.328280,0.108432,0.135811,NaN,NaN,NaN,NaN
3236,2024,E14001062,York Outer,Yorkshire and The Humber,NaN,NaN,NaN,NaN,NaN,NaN,...,0.181,0.013,0.427471,0.328280,0.108432,0.135811,NaN,NaN,NaN,NaN

In [30]:
# Merge the dfs
final_df = pd.merge(census_df, election_polling_df, on=['constituency_id', 'year'], how='inner')
final_df.rename(columns={'constituency_name_x': 'constituency_name'}, inplace=True)
final_df.drop(columns=['constituency_name_y'], inplace=True)

In [31]:
final_df.year.unique()

array([2010, 2015, 2017, 2019, 2024])

In [35]:
final_df.to_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/preprocessed/preprocessed_final_df.csv', index=False)